<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<appSettings>
		<add key="VAR_FILE_PATH" value="C:\work\test\ProcutVS\ProductVSConsole\bin\Debug\var" />
		<add key="LOG_CONFIG_FILE" value="C:\work\test\ProcutVS\ProductVSConsole\log4net.config" />
	</appSettings>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
		</defaultProxy>
	</system.net>
</configuration>
